body, html{
	background: url('https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
    height: 100%;
    font-weight: 500;
}

tbody{
	text-align: center;
}	

.navbar {
	background-color: #4b65ad;
}

.carousel{
    width: 65%;
    margin: auto;   
}

.pozice_kontakty{
	text-align: left;
}

.setting{
	text-align: center;
}

.profil{
	background-color: white;
}

.pw_tittle{
    font-size: 20px;
	background-color: #666;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	width: 280px;
}

.odstup{
	padding: 5px;
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: transparent; !important;
    padding: 10px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.frontside {
    margin-bottom: 30px;
}


.frontside .card,{
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,{
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;

}
table {
	width: 100%;
	border-width: thin;

}

table tr td{
	border-width: 0.1px;
	text-align: center;
	height: 60px;
	width: 50px;
	border-bottom-style: solid;
	border-bottom-color: #bcc4c7;
	border-right-style: solid;
	border-right-color: #bcc4c7;
}

.grey{
	background-color: #eae9e9;
	font-weight: 600;
	
}

.rozvrh{
	border-color: #eaeaea;
	border-width: thin;
}

.table-head{
	background-color: #3598db;
	display: block;
	text-align: left;
	height: 30px;
	width: auto;
	padding: 1px 10px 35px 10px;
	font-size: 23px;
	color: white;
	font-weight: 700;
}

.predmet{
    text-align: left;
    padding: 4px;
    max-width: 60px;
    min-width: 60px;
}

.cj{
    background-color: #12c72d;
}

.aj{
    background-color: #e8f00c;
}

.pc{
    background-color: #7e34d1;
}

.matika{
    background-color: #0f42d9;
}

.prg{
    background-color: #91a115;
}

.uvod{

    background-color: #3598db;
    border-style: solid;
    border-width: 1px;
    color: #eae9e9;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
    font-size: 20px;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   
    background:#6cf;
 }

.slider {
    object-fit: cover;
    max-width: 600px;
    max-height: 400px;
}

.center-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem 0rem;
    font-family: sans-serif;
}

.navbar-hover {
    color: rgb(255, 255, 255);
    padding: 5px;
}

.navbar-hover:hover {
    background: #4b65ad;
    background-color: white;
    border-radius:10px;
}

.add_button {
    background-color: rgb(255, 255, 255);
    border: none;
    background: none;
    padding: 10px 15px;
    border-radius: 50%;
}

.add_button:hover{
    color: rgb(255, 255, 255);
    background: #0f42d9;
    transition: ease 0.3s;
}

.add_button:active,
.add_button:visited{
    display: none;
}

.cursor {
    cursor: pointer;
}

.predmet_border{
    border-radius: 5px;
    padding: 8px;
    border: 1px solid grey;
}

.predmet_border:hover{
    background-color: rgb(102, 102, 102) !important;
    transition: 0.4s ease-in-out;
}

.select {
outline: 0;
box-shadow: none;
border: 0 !important;
background:#15374e;
background-image: none;
}
/* Remove IE arrow */
.select::-ms-expand {
display: none;
}
/* Custom Select */
.select {
background: #15374e;
overflow: hidden;
}
.select {
flex: 1;
padding: 0 .5em;
color: #fff;
cursor: pointer;
}
