body, html{
	background: #12c2e9;
	background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
	background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
	background-size: cover;
	height: 100%;
}

tbody{
	text-align: center;
}	

.navbar {
	background-color: #4267b2e6;
}

.container{
	padding-top: 20px;
}

.jumbotron{
	background-color: transparent;
	text-align: center;
	padding: 15px 0px; 
	margin: 10px 100px;
}

.jumbotron span{
	font-size: 30px;	
	background-color: white;
	border-radius: 5px;
	padding: 15px 50px;
}

.pozice_kontakty{
	text-align: left;
}

table{
	background-image: linear-gradient(to right, #f64f594d, #15c1e933);
}

.card{
	margin: 5px;
}